body {
      text-align: center;
      font-family: 'Roboto', sans-serif;
	overflow: hidden;
      background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
	height: 100vh;
}

#splashicon {
	height: 90px;
	margin-top: 30px;
	animation: verkleinenicon 1s;
	animation-timing-function: ease-in-out;
}

#titleh1 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	animation: verkleinentitle1 1s;
	animation-timing-function: ease-in-out;
}

#titleh2 {
	font-weight: lighter;
	margin-top: -15px;
	letter-spacing: 2px;
	font-size: 15px;
	color: white;
	animation: verkleinentitle2 1s;
	animation-timing-function: ease-in-out;
	margin-bottom: 100px;
}

.results h1 {
	display: inline-block;
	margin-right: 10px;
	color: white;
}

.results h2{
	display: inline-block;
	color: white;
}

a {
	text-decoration: none;
}


span {
	padding: 12px 50px;
	border: 2px solid white;
	border-radius: 100px;
	color: white;
}

.links {
	margin-top: 210px;
	animation: opkomen 2s;
}

@keyframes verkleinenicon {
	0%{
		height: 130px;
		margin-top: 30px;
	}
	100%{
		height: 90px;
		margin-top: 30px;
	}
}

@keyframes verkleinentitle1{
	0%{
		font-size: 40px;
	}
	10%{
		font-size: 40px;
	}
	100%{
		font-size: 20px;
	}
}

@keyframes verkleinentitle2{
	0%{
		margin-top: -20px;
		letter-spacing: 5px;
		font-size: 25px;
	}
	10%{
		margin-top: -20px;
		letter-spacing: 5px;
		font-size: 25px;
	}
	100%{
		margin-top: -15px;
		letter-spacing: 2px;
		font-size: 15px;
	}
}

@keyframes opkomen {
	0% {
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
